* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

main h2 {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 28px;
  text-align: left;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
}

ul {
  margin: 0;
  margin-left: 15px;
}

canvas {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.logo {
  user-select: none;
}

.navbar-brand {
  font-size: 16px!important;
  text-transform: uppercase;
  font-weight: 300;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  width: 450px;
}

.form-container > .form {
  padding: 15px 25px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container > .form > h4 {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 25px;
}

.form-button__container {
  display: flex;
  flex-direction: column;
}

.clear-button {
  width: 120px;
}
